body {
	background-color: lightblue;
}
h3 {
	color:MediumSeaGreen;
	background-color:SlateBlue;
	font-size: 150%;
	font-family: 'Times New Roman',
}
h1 {
	color:MediumSeaGreen;
	background-color:SlateBlue;
	font-size: 100%;
}
p {	
	color:MediumSeaGreen;
	background-color:SlateBlue;
	font-size: 100%;
}
p1 {
	color:MediumSeaGreen;
	background-color:SlateBlue;
	font-size: 100%;
}
h2 {	
	color:MediumSeaGreen;
	background-color:SlateBlue;
	font-size: 100%;
}